/* Search.module.css */
.inputcontainer {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  input:focus {
    border-color: #0073e6;
  }
  
  input::placeholder {
    color: #aaa;
  }
  