/* UserPosts.module.css */
.userPosts {
  margin: 20px 0;
}

.username {
  font-size: 1.5em;
  color: #444;
  margin-bottom: 10px;
}

.postsList {
  list-style: none;
  padding: 0;
}

.postItem {
  margin-bottom: 10px;
}

.postLink {
  text-decoration: none;
  color: #0073e6;
  font-size: 1em;
  transition: color 0.2s;
}

.postLink:hover {
  color: #005bb5;
  text-decoration: underline;
}
