/* Sort.module.css */
.sortContainer {
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  select:focus {
    border-color: #0073e6;
  }
  